body{
    margin: 0;
    font-family: 'Arimo', sans-serif;
}
.coral-color{
    color:coral;
}
h1{
    font-size:50px;
    color:dimgrey;
    
}
#gray-color{
    color:gray;
    margin-bottom: 70px;
}
.flexible-container{
    display:flex;
    margin-bottom: 100px;
}
.half-width{
    width:100%;
    padding:5%;
}
.half-width img{
    width:100%;
}
.text{
    margin-top:80px;
    margin-left:50px;
}
.button{
    text-decoration: none;
    background-color:coral;
    background-image: linear-gradient(to left, rgb(252, 95, 38),rgb(247, 165, 135));
    padding:15px 25px;
    border-radius:25px;
    color:white;
    font-weight:700;
}