body{
    margin: 0;
    font-family: 'Arimo', sans-serif;
}
.coral-color{
    color:coral;
}
h1{
    font-size:50px;
    color:dimgrey;
    
}
h2{
    font-size:40px;
    color:grey;
}
#gray-color{
    color:gray;
    margin-bottom: 70px;
}
h3{
    font-size:25px;
}
.flexible-container{
    display:flex;
}
.half-width{
    width:50%;
    padding:5%;
}
.half-width img{
    width:100%;
}
.text{
    margin-top:80px;
    margin-left:50px;
}
.button{
    text-decoration: none;
    background-color:coral;
    background-image: linear-gradient(to left, rgb(252, 95, 38),rgb(248, 176, 149));
    padding:15px 25px;
    border-radius:25px;
    color:white;
    font-weight:700;
}
.second-part{
    background-image: url(images/second-bg.png);
    background-repeat: no-repeat;
}
.second-half-width{
    width:50%;
    padding-left:5%;
    padding-right:5%;
}
.second-half-width img{
    width:50%;  
    padding-top:10%;
    padding-left:35%;
}
.second-text{
    margin-top:80px ;
    margin-right: 80px;
}
.second-text p{
    margin-bottom: 80px;
    padding-right: 30%;
}
p{
    text-align:justify;
}
.recipies{
    width:30%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    padding:20px;
    border-radius: 25px;
    box-shadow: 10px 10px 40px gray;
}
.recipies img{
    width:100%; 
}
.third-text h2{
    text-align: center;
}
.third-text p{
    text-align: center;
    margin-left: 150px;
    margin-right:150px;
    padding-right: 150px;
    padding-left: 150px;
}